#notificareDiv{
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 2vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#Notificari{
    width: 40%;
    transform: translate(100%,0%);
}
#Notificari button {
    background: transparent;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    outline: none;
    color: white;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    width: 8vw;
    height: 5vh;
}
#succes:hover{
    background-color: green;
    border: 1px solid green;
}
#respins:hover {
    background-color: red;
    border: 1px solid red;
}